body {
    font-family: 'Press Start 2P', cursive;
}


header {
    background-color: salmon;
    text-align: center;
    padding: 100px;
}

header h1 {
    color: white;
}

header img {
    height: 250px;
}

/* No underline and no blue color */
#no-formats{
    text-decoration: none;
    color: black;
}